name: 01 - First Safe CI/CD Workflow

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Confirm workflow runs
        run: echo "CI/CD security lab workflow ran successfully.!!"
