name: 02 - Secret Scanning (Gitleaks)

on:
  
  workflow_dispatch:
  push:
    branches: ["main"]
    paths-ignore: 
      - ".github/workflow/**"
      - "README.md"
    
permissions:
    contents: read

    
jobs:
  secret-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout respository
        uses: actions/checkout@v4

      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2.3.7
        with:
          fail: false
