name: 03 - Dependancy Vulnerability Scan (Trivy)

on:
  workflow_dispatch:
 

jobs:
  dependancy-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Trivy filesystem scan
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: "fs"
          ignore-unfixed: true
          severity: "CRITICAL,HIGH"
          format: "table"
          exit-code: "0"
